@charset "utf-8";
header{
	display: none;
	width: 100%;
	margin: 0 0.5rem;
}
/* logo及其导航 */
.logo{
	display: none;
}
.nav1{
	display: block;
}
.nav1 img{
	height: 2.5rem;
	width: 11.25rem;
}
.nav1 h1{
	float: left;
}
.nav1 .icon-caidan{
	float: right;
	margin-top: 0.8rem;
	margin-right: 0.25rem;
}
.nav1{
	position: relative;
}
.nav1 .nav1_dh{
	z-index: 3;
	opacity: 0;
	position: absolute;
	top: 2.5rem;right: 0;
}
.nav1 .nav1_dh{
	width: 20%;
	text-align: center;
	background-color: #FF6D00;
}
.nav1 .nav1_dh>li{
	font-size: 0;
	height: 1.5rem;
	line-height: 1.5rem;
	border-bottom: 0.025rem solid #ccc;
}
.nav1 .nav1_dh>li a{
	color: #fff;
	height: 1.5rem;
	font-size:0.75rem;
	line-height: 1.5rem;
	display: inline-block;
}

/* banner */
.swiper-container {
		    width: 100%;
		    height: 11.725rem;
        margin: 0px auto;
		}
		.swiper-container img{
			width: 100%;
			height: 11.725rem;
		}

/* 内容 */
.con1{
	display: block;
}
.con2{
	display: none;
}
.con1 .top{
	overflow:hidden;
}
.con1{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 0.65rem;
}
.con1 .top{
	font-size: 0;
	height: 1.45rem;
	overflow: hidden;
	line-height: 1.45rem;
	border-bottom: 0.05px solid #828280;
}
.con1 .top h3{
	font-size: 0.5rem;
}
.con1 .top .con1_wz i,a{
	color: #474747;
	font-size: 0.3rem;
	font-style: normal;
	display: inline-block;
}
.con1 .bot .bot1{
	text-align: center;
	margin-bottom: 0.75rem;
	border-bottom: 0.05px solid #828280 ;
}
.con1  .bot .bot1 h4{
	height: 1.5rem;
	font-size: 0.5rem;
	line-height: 1.5rem;
}
.con1  .bot .bot1 p{
	font-size: 0;
	margin-bottom: 0.35rem;
}
.con1  .bot .bot1 p i{
	color: #AEAEAE;
	font-size: 0.3rem;
	font-style: normal;
}
.con1  .bot p{
	text-indent: 2em;
	font-size: 0.35rem;
	line-height: 1rem;
}
.con1  .bot .img{
	text-align: center;
}
.con1 .bot .img img{
	width: 60%;
	display: inline-block;
}
.con1 .bot .xg{
	margin-bottom: 0.5rem;
}
.con1 .bot .fanye{
	height: 1rem;
	line-height: 1rem;
	margin-bottom: 0.5rem;
	background-color: #F5F5F5;
}
.con1 .bot .fanye p{
	text-indent: 0em;
}



















		/* footer底部信息 */
.foo{
	display: none;
}
.foo1{
	display: block;
}
.foo1{
	padding-top: 0.5rem;
	background-color: #333333;
}
.foo1 .foo_rt{
	text-align: center;
}
.foo1 .foo_rt>img{
	width: 20%;
	height: 20%;
	display: inline-block;
}
.foo1 .foo_rt p{
	color: #fff;
	font-size: ;
}
